textarea {
    min-height: 400px;
}

.short-email{
    display: block ruby;
    width: 100%;
    border: 3px solid darkgrey;
}

#email-view{
    display: none;
}

#email-view span{
    font-weight: bold;
}